.Menu {
  height: 6vh;
  width: min(500px, 40vw);
  min-width: 300px;
  padding: 0.5rem;
  border: solid 2px rgba(0, 0, 0, 0.5);
  background-color: #e9e9e5;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  user-select: none;
}

.palette {
  position: absolute;
  bottom: 150%;
  left: 40%;
  transform: translateX(-50%);
}

.btn {
  display: block;
  padding: 2px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.btn:active {
  transform: scale(0.9, 0.9);
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  .Menu {
    position: relative;
    bottom: 0;
  }
}
