.Viewport {
  height: 100%;
  width: 90vw;
  padding: 1rem;
  background-color: #e9e9e5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;

  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .Viewport {
    width: 99vw;
    padding-bottom: 2rem;
  }
}
