.img {
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  max-width: "95vw";
  max-height: "95vh";
}

.img img {
  width: auto;
  height: 100%;
  position: absolute;
}

.imgTextInput {
  border: none;
  cursor: default;
  display: block;
  margin: 0;
  opacity: 0;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: fixed;
  resize: none;
  z-index: -1;
}

.imgText {
  height: fit-content;
  width: max-content;
  padding: 0;
  position: absolute;
  bottom: 2rem;
  background: none;
  font-size: 2rem;
  border: none;
  font-weight: bolder;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black;
  color: white;
}

.grab {
  cursor: grab;
}

.imgText::selection {
  background-color: rgb(249, 228, 151);
}
